<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>
<body>

<h2>今日總漁獲</h2>

<table style="width:100%">
  <tr>
    <th>編號</th>
    <th>魚種</th> 
    <th>長度</th>
  </tr>
  <tr>
    <td>001</td>
    <td>allothunnus_fallai</td>
    <td>79</td>
  </tr>
  <tr>
    <td>002</td>
    <td>Amphiprion_clarkii</td>
    <td>94</td>
  </tr>
  <tr>
    <td>003</td>
    <td>Auxis_thazard</td>
    <td>80</td>
  </tr>
</table>

</body>
</html>