<!DOCTYPE html>
<html>
<head>
<title>魚類辨識、偵測長度系統</title>      
</head>

<body>
<label for="species">魚種:</label>
<input type="text"id=name name="name"onclick="this.value=''"list="name_">
<datalist id="name_">
  <option value="Plectroglyphidodon_dickii"></option>
  <option value="Neoniphon_sammara"></option>
  <option value="Myripristis_kuntee"></option>
  <option value="Hemigymnus_fasciatus"></option>
  <option value="Dascyllus_reticulatus"></option>
  <option value="Chromis_chrysura"></option>
  <option value="Chaetodon_trifascialis"></option>
  <option value="Chaetodon_lunulatus"></option>
  <option value="Amphiprion_clarkii"></option>
  <option value="Acanthurus_nigrofuscus"></option>
  <!--<option value="Cantherhines_dumerilii"></option>
  <option value="Caranx_melampygus"></option>
  <option value="Cephalopholis_leopardus"></option>
  <option value="Cirrhilabrus_cyanopleura"></option>
  <option value="Epinephelus_quoyanus"></option>
  <option value="Leptojulis_cyanopleura"></option>
  <option value="Pseudanthias_squamipinnis"></option>
  <option value="Thalassoma_lunare"></option>-->
</datalist>
<br>
<label for="length">魚長(公分):</label>
<input type="text"id=length name="length"onclick="this.value=''"list="length_">
<datalist id="length_">
  <option value="0-49"></option>
  <option value="50-99"></option>
  <option value="100-149"></option>
  <option value="150-199"></option>
  <option value="200-249"></option>
  <option value="250-299"></option>
  <option value="≥300"></option>
</datalist>
<br>
<!--<input type="submit" value="Submit">-->
<!--<input value="檢索" id="search" type="button"><br>-->
<button onclick="pageLoad()">搜尋</button>

<!--<script>
function clear(){
  var table,tr,i;
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    tr[i].style.display = "none";
  }
}
-->
</script>
<script>
  function pageLoad() {
    var species, filter, table,tr,td,td1,td2,i,txtValue,txtValue1;
    var lengthElement = document.getElementById("length");
    var length= lengthElement.value;//選取的長度區間
    species = document.getElementById("name");
    filter = species.value.toUpperCase();
    table = document.getElementById("myTable");
    console.log(table)
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td =tr[i].getElementsByTagName("td")[0];//id
      td1 = tr[i].getElementsByTagName("td")[1];//name
      td2 = tr[i].getElementsByTagName("td")[2];//length
      //重設id
      if(td){
        td.innerHTML=i;
      }
      
      //選取name 資料
      if(td1&&filter){
        txtValue = td1.textContent || td1.innerText;//name值
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } 
        else { 
          tr[i].style.display = "none";
          continue;
        }
      }
      else{
        tr[i].style.display = ""
      }
      //選取長度資料
      if(td2&&length){
        txtValue1 = td2.innerText;//length值
        switch(length){
          case "0-49":
            if(0<=txtValue1 && txtValue1<=49){
              tr[i].style.display = "";
            }
            else { 
              tr[i].style.display = "none";
            }
            break;
          case "50-99":
            if(50<=txtValue1 && txtValue1<=99){
              tr[i].style.display = "";
            }
            else { 
              tr[i].style.display = "none";
            }
            break;
          case "100-149":
            if(100<=txtValue1 && txtValue1<=149){
              tr[i].style.display = "";
            }
            else { 
              tr[i].style.display = "none";
            }
            break;
          case "150-199":
            if(150<=txtValue1 && txtValue1<=199){
              tr[i].style.display = "";
            }
            else { 
              tr[i].style.display = "none";
            }
            break;
          case "200-249":
            if(200<=txtValue1 && txtValue1<=249){
              tr[i].style.display = "";
            }
            else { 
              tr[i].style.display = "none";
            }
            break;
          case "250-299":
            if(250<=txtValue1 &&txtValue1<=299){
              tr[i].style.display = "";
            }
            else { 
              tr[i].style.display = "none";
            }
            break;
          case "≥300":
            if(txtValue1>=300){
              tr[i].style.display = "";
            }
            else { 
              tr[i].style.display = "none";
            }

          }
      }
      else{
        tr[i].style.display = "";
      }       

    }
      //document.getElementById("length").value = ''
      //document.getElementById("species").value = ''

  }
</script>   


<table id="myTable"width="700" border="1">
  <tr class="header">
    <th>id</th>
    <th>name</th>
    <th>length</th>
  </tr>
{% for row in value %} 
    <tr>
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
    </tr>
        {% endfor %}
</table>

</body>
</html>


