<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8"></meta>
    <title>Fish information</title>      
    <link rel="stylesheet" href="{{ url_for('static',filename='css/display1.css') }}">
    
  </head>



  <body>
    <div class="hero-image">
      <div class="hero-text">
      	  <h2>魚貨資訊查詢系統</h2>
	      <form action="" method="POST" enctype="multipart-form-data">
	        
	        <div>
	          <label style="color:#000000;font-weight:bold"for="fish_type">魚種</label>	
	          <input list="fish_types"id=fish_type name="fish_type"onclick="this.value=''"autocomplete="off">
	          <datalist id="fish_types">
		          <option value="Larimichthys_Crocea"></option>
		          <option value="Nemipterus_virgatus"></option>
		          <option value="Pampus_argenteus"></option>
		          <option value="Plectropomus_leopardus"></option>
		          <option value="Psenopsis_anomala"></option>

	          </datalist>
	        </div>  
	        
	         <div>
	          <label style="color:#000000;font-weight:bold"for="fish_len">魚長</label>
	          <input list="fish_lens"id=fish_len name="fish_len"onclick="this.value=''"autocomplete="off">
	          <datalist id="fish_lens">
				  <option value="0-9"></option>
				  <option value="10-19"></option>
				  <option value="20-29"></option>
				  <option value="30-39"></option>
				  <option value="40-49"></option>
				  <option value="50-59"></option>
				  <option value="≥60"></option>
	         </div>  
	        
	        	<button type="submit" name="search_btn" value="search_btn">Search</button>
	        
          </form>



    <table id="myTable">
      <tr class="header">
        <th>id</th>
        <th>image</th>
        <th>name</th>
        <th>length</th>
      </tr>
      {% if value %}
        {% for row in value %} 
          <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]|safe}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
          </tr>
        {% endfor %}
      {% endif %}
    </table>
    </div>
  </div>
  </body>
</html>


